.contents
  .form
    = form_for [@genre, @content] do |f|
      = f.text_field :title, class: 'form__content', placeholder: '追加したいタイトル名を入力'
      .form__mask
      = f.submit 'Send', class: 'form__submit'
    %ul.uk-list.uk-list-striped
      - @contents.each do |content| 
        %li.list
          = link_to content.title, genre_content_details_path(@genre.id, content.id)
    = paginate(@contents)