.contents-main
  .contents-header
    .contents-header__name aaa
    .contents-header__form
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far','image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'input-box__send-btn'

  .main
    .content_name
    .content_image
    .content_text