!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Favorites
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    .header
      .header__name
        =link_to "favorites", root_path
        .header__right-box
          - if user_signed_in?
            .header__right__box__back
              =link_to "Back", onclick="javascript:history.back();"
            .header__right__box__user
              =link_to "#{current_user.name}",edit_user_path(current_user)
          -else
            .header__right-box__new
              =link_to "新規登録", new_user_registration_path
            .header__right-box__login
              =link_to "ログイン", new_user_session_path
    = yield
